.curriculum {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 297mm;
  width: 210mm;
  flex: 0 0 210mm;
  margin: 50px 50px 0 0;

  background-color: #ffffff;
  color: #000000;
}

.identity {
  background-clip: padding-box;
  background-color: #ceeaf7;
  padding: 30px;
}

.identity h3 {
  font-size: 2rem;
}

.education {
  padding: 0 30px;
}

.education h4,
.experience h4 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  margin-top: 0px;
}

.experience {
  padding: 0 30px;
}
