.inputSection {
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  text-align: center;
}

.inputFields {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}

.formLabel {
  text-align: end;
}
